In [2]:
import pandas as pd
import numpy as np
import seaborn as sns

# Pulling bulk Petroleum Data in JSON format
http://api.eia.gov/bulk/PET.zip

## What information is available from the Dataset?

# JSON obejct image

In [3]:
data = pd.read_json('./PET.txt',orient='columns',lines=True,convert_dates=['start','end'])
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 134507 entries, 0 to 134506
Data columns (total 19 columns):
category_id           14062 non-null float64
childseries           14062 non-null object
copyright             120445 non-null object
data                  120445 non-null object
description           120445 non-null object
end                   120445 non-null datetime64[ns]
f                     120445 non-null object
geography             111107 non-null object
geography2            55455 non-null object
iso3166               87315 non-null object
last_updated          120445 non-null object
name                  134507 non-null object
notes                 14062 non-null object
parent_category_id    14062 non-null float64
series_id             120445 non-null object
source                120445 non-null object
start                 120445 non-null datetime64[ns]
units                 120445 non-null object
unitsshort            120445 non-null object
dtypes: datetime64[ns](2), float64(2), object(15)
memory usage: 20.5+ MB

In [4]:
data.head()

,category_id,childseries,copyright,data,description,end,f,geography,geography2,iso3166,last_updated,name,notes,parent_category_id,series_id,source,start,units,unitsshort
0,NaN,NaN,None,"[[20170417, 2.3970000000000002], [20170410, 2....",East Coast Regular All Formulations Retail Gas...,1970-08-22 10:53:37,W,USA-CT+USA-DC+USA-DE+USA-FL+USA-GA+USA-MA+USA-...,NaN,NaN,2017-04-18T10:08:52-04:00,East Coast Regular All Formulations Retail Gas...,NaN,NaN,PET.EMM_EPMR_PTE_R10_DPG.W,"EIA, U.S. Energy Information Administration",1970-08-19 13:28:31,Dollars per Gallon,$/gal
1,NaN,NaN,None,"[[20170417, 2.373], [20170410, 2.326], [201704...",New England (PADD 1A) Regular All Formulations...,1970-08-22 10:53:37,W,USA-CT+USA-MA+USA-ME+USA-NH+USA-RI+USA-VT,NaN,NaN,2017-04-18T10:08:52-04:00,New England (PADD 1A) Regular All Formulations...,NaN,NaN,PET.EMM_EPMR_PTE_R1X_DPG.W,"EIA, U.S. Energy Information Administration",1970-08-19 16:13:25,Dollars per Gallon,$/gal
2,NaN,NaN,None,"[[20170417, 2.508], [20170410, 2.467], [201704...",Central Atlantic (PADD 1B) Regular All Formula...,1970-08-22 10:53:37,W,USA-DC+USA-DE+USA-MD+USA-NJ+USA-NY+USA-PA,NaN,NaN,2017-04-18T10:08:52-04:00,Central Atlantic (PADD 1B) Regular All Formula...,NaN,NaN,PET.EMM_EPMR_PTE_R1Y_DPG.W,"EIA, U.S. Energy Information Administration",1970-08-19 16:13:25,Dollars per Gallon,$/gal
3,NaN,NaN,None,"[[20170417, 2.32], [20170410, 2.318], [2017040...",Lower Atlantic (PADD 1C) Regular All Formulati...,1970-08-22 10:53:37,W,USA-FL+USA-GA+USA-NC+USA-SC+USA-VA+USA-WV,NaN,NaN,2017-04-18T10:08:52-04:00,Lower Atlantic (PADD 1C) Regular All Formulati...,NaN,NaN,PET.EMM_EPMR_PTE_R1Z_DPG.W,"EIA, U.S. Energy Information Administration",1970-08-19 16:13:25,Dollars per Gallon,$/gal
4,NaN,NaN,None,"[[20170417, 2.339], [20170410, 2.3609999999999...",Midwest Regular All Formulations Retail Gasoli...,1970-08-22 10:53:37,W,USA-IA+USA-IL+USA-IN+USA-KS+USA-KY+USA-MI+USA-...,NaN,NaN,2017-04-18T10:08:52-04:00,Midwest Regular All Formulations Retail Gasoli...,NaN,NaN,PET.EMM_EPMR_PTE_R20_DPG.W,"EIA, U.S. Energy Information Administration",1970-08-19 13:28:31,Dollars per Gallon,$/gal

### There are two JSON object types: Series and category

### Category Data

In [7]:
# Figure out what data is available for the categories
category_data = data[pd.notnull(data['category_id'])]
category_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 14062 entries, 120445 to 134506
Data columns (total 19 columns):
category_id           14062 non-null float64
childseries           14062 non-null object
copyright             0 non-null object
data                  0 non-null object
description           0 non-null object
end                   0 non-null datetime64[ns]
f                     0 non-null object
geography             0 non-null object
geography2            0 non-null object
iso3166               0 non-null object
last_updated          0 non-null object
name                  14062 non-null object
notes                 14062 non-null object
parent_category_id    14062 non-null float64
series_id             0 non-null object
source                0 non-null object
start                 0 non-null datetime64[ns]
units                 0 non-null object
unitsshort            0 non-null object
dtypes: datetime64[ns](2), float64(2), object(15)
memory usage: 2.1+ MB

#### Structured with a parent category and child categories.

In [8]:
category_data[['name','category_id','childseries','parent_category_id']].head()

,name,category_id,childseries,parent_category_id
120445,Summary,714756.0,[],714755.0
120446,Supply and Disposition,229975.0,[],714756.0
120447,by Area,229976.0,[],229975.0
120448,U.S.,229977.0,"[PET.MAPEXUS1.A, PET.MAPEXUS1.M, PET.MAPEXUS2....",229976.0
120449,East Coast (PADD 1),230310.0,"[PET.MAPEXP11.A, PET.MAPEXP11.M, PET.MAPEXP12....",229976.0

### Series data
- Find the structure of the series data

In [9]:
series_data = data[pd.notnull(data['series_id'])]
series_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 120445 entries, 0 to 120444
Data columns (total 19 columns):
category_id           0 non-null float64
childseries           0 non-null object
copyright             120445 non-null object
data                  120445 non-null object
description           120445 non-null object
end                   120445 non-null datetime64[ns]
f                     120445 non-null object
geography             111107 non-null object
geography2            55455 non-null object
iso3166               87315 non-null object
last_updated          120445 non-null object
name                  120445 non-null object
notes                 0 non-null object
parent_category_id    0 non-null float64
series_id             120445 non-null object
source                120445 non-null object
start                 120445 non-null datetime64[ns]
units                 120445 non-null object
unitsshort            120445 non-null object
dtypes: datetime64[ns](2), float64(2), object(15)
memory usage: 18.4+ MB

In [10]:
series_data = (series_data[['series_id','name','units','description','unitsshort','f','start','end','last_updated']]
 .set_index('series_id')
)
series_data['start']= pd.to_datetime(series_data['start'])
series_data['end']= pd.to_datetime(series_data['end'])
series_data.head()

,name,units,description,unitsshort,f,start,end,last_updated
series_id,,,,,,,,
PET.EMM_EPMR_PTE_R10_DPG.W,East Coast Regular All Formulations Retail Gas...,Dollars per Gallon,East Coast Regular All Formulations Retail Gas...,$/gal,W,1970-08-19 13:28:31,1970-08-22 10:53:37,2017-04-18T10:08:52-04:00
PET.EMM_EPMR_PTE_R1X_DPG.W,New England (PADD 1A) Regular All Formulations...,Dollars per Gallon,New England (PADD 1A) Regular All Formulations...,$/gal,W,1970-08-19 16:13:25,1970-08-22 10:53:37,2017-04-18T10:08:52-04:00
PET.EMM_EPMR_PTE_R1Y_DPG.W,Central Atlantic (PADD 1B) Regular All Formula...,Dollars per Gallon,Central Atlantic (PADD 1B) Regular All Formula...,$/gal,W,1970-08-19 16:13:25,1970-08-22 10:53:37,2017-04-18T10:08:52-04:00
PET.EMM_EPMR_PTE_R1Z_DPG.W,Lower Atlantic (PADD 1C) Regular All Formulati...,Dollars per Gallon,Lower Atlantic (PADD 1C) Regular All Formulati...,$/gal,W,1970-08-19 16:13:25,1970-08-22 10:53:37,2017-04-18T10:08:52-04:00
PET.EMM_EPMR_PTE_R20_DPG.W,Midwest Regular All Formulations Retail Gasoli...,Dollars per Gallon,Midwest Regular All Formulations Retail Gasoli...,$/gal,W,1970-08-19 13:28:31,1970-08-22 10:53:37,2017-04-18T10:08:52-04:00

### Annual Data

### Monthly Data

In [16]:
series_data[series_data.index.str.contains('^PET.*.M$',regex=True)].head()

,name,units,description,unitsshort,f,start,end,last_updated
series_id,,,,,,,,
PET.RCLC4.M,"Cushing, OK Crude Oil Future Contract 4, Monthly",Dollars per Barrel,"Cushing, OK Crude Oil Future Contract 4",$/bbl,M,1970-01-03 07:08:21,1970-01-03 08:01:43,2017-04-12T13:07:28-04:00
PET.RWTC.M,"Cushing, OK WTI Spot Price FOB, Monthly",Dollars per Barrel,"Cushing, OK WTI Spot Price FOB",$/bbl,M,1970-01-03 07:10:01,1970-01-03 08:01:43,2017-04-12T13:07:28-04:00
PET.RBRTE.M,"Europe Brent Spot Price FOB, Monthly",Dollars per Barrel,Europe Brent Spot Price FOB,$/bbl,M,1970-01-03 07:11:45,1970-01-03 08:01:43,2017-04-12T13:07:28-04:00
PET.RCLC1.M,"Cushing, OK Crude Oil Future Contract 1, Monthly",Dollars per Barrel,"Cushing, OK Crude Oil Future Contract 1",$/bbl,M,1970-01-03 07:05:04,1970-01-03 08:01:43,2017-04-12T13:07:28-04:00
PET.RCLC2.M,"Cushing, OK Crude Oil Future Contract 2, Monthly",Dollars per Barrel,"Cushing, OK Crude Oil Future Contract 2",$/bbl,M,1970-01-03 07:08:21,1970-01-03 08:01:43,2017-04-12T13:07:28-04:00

### Run parse_PET_file.py

In [13]:
monthly_crude = pd.read_csv('./monthly_crude_data.csv',index_col='index')
monthly_crude.info()

<class 'pandas.core.frame.DataFrame'>
Index: 320 entries, 1981-10-31 to 2017-03-31
Columns: 54263 entries, PET.RCLC4.M to PET.MBAUPP52.M
dtypes: float64(54263)
memory usage: 132.5+ MB

In [15]:
monthly_crude.tail()

,PET.RCLC4.M,PET.RWTC.M,PET.RBRTE.M,PET.RCLC1.M,PET.RCLC2.M,PET.RCLC3.M,PET.EER_EPJK_PF4_RGC_DPG.M,PET.EER_EPMRU_PF4_RGC_DPG.M,PET.EER_EPD2DXL0_PF4_Y35NY_DPG.M,PET.EER_EPLLPA_PF4_Y44MB_DPG.M,...,PET.MBAEXP51.M,PET.MBAEXP52.M,PET.MBAEXUS1.M,PET.MBAEXUS2.M,PET.MBAIMP21.M,PET.MBAIMP22.M,PET.MBAIMP31.M,PET.MBAIMP32.M,PET.MBAUPP51.M,PET.MBAUPP52.M
index,,,,,,,,,,,,,,,,,,,,,
2016-11-30,47.98,45.66,44.73,45.87,46.56,47.29,1.356,1.317,1.463,0.538,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2016-12-31,54.64,51.97,53.29,52.17,53.14,53.99,1.491,1.566,1.642,0.637,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2017-01-31,54.72,52.50,54.58,52.61,53.39,54.10,1.514,1.593,1.623,0.747,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2017-02-28,54.64,53.47,54.87,53.46,53.93,54.32,1.547,1.543,1.624,0.768,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2017-03-31,50.91,49.33,51.59,49.67,50.22,50.61,1.445,1.523,1.528,0.615,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN